### PANDAS ASSIGNMENT -

Manasa P

21WU0101055

Team 3

In [1]:
import pandas as pd

In [10]:
# 1. Load the dataset into a pandas DataFrame.

df=pd.read_csv(r"sales_data.csv")

In [3]:
# 2. Display the first 5 rows of the DataFrame.

df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,City
0,176558,USB-C Charging Cable,2,11.95,1/22/2023,New York
1,176559,Bose SoundSport Headphones,1,99.99,1/23/2023,Los Angeles
2,176560,Google Phone,1,600.00,1/23/2023,Chicago
3,176561,Wired Headphones,3,11.99,1/24/2023,Houston
4,176562,Lightning Charging Cable,1,14.95,1/24/2023,New York

In [6]:
# 3. Check for any missing values in the dataset.

print(df.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
dtype: int64

In [7]:
# 4. Add a new column Total Sales that multiplies Quantity Ordered by Price Each.

df['Total Sales'] = df['Quantity Ordered'] * df['Price Each']
print("\nDataset with Total Sales column added:")
print(df.head())

Dataset with Total Sales column added:
   Order ID                     Product  Quantity Ordered  Price Each  \
0    176558        USB-C Charging Cable                 2       11.95
1    176559  Bose SoundSport Headphones                 1       99.99
2    176560                Google Phone                 1      600.00
3    176561            Wired Headphones                 3       11.99
4    176562    Lightning Charging Cable                 1       14.95

  Order Date         City  Total Sales
0  1/22/2023     New York        23.90
1  1/23/2023  Los Angeles        99.99
2  1/23/2023      Chicago       600.00
3  1/24/2023      Houston        35.97
4  1/24/2023     New York        14.95

In [8]:
# 5. Find the total sales for each city and display it as a new DataFrame.

total_sales_by_city = df.groupby('City')['Total Sales'].sum().reset_index()
print("\nTotal sales for each city:")
print(total_sales_by_city)

Total sales for each city:
            City  Total Sales
0        Chicago      1800.00
1        Houston       835.97
2    Los Angeles       115.35
3       New York        38.85
4  San Francisco      1000.00

In [9]:
# 6. Identify the product with the highest total sales.

total_sales_by_product = df.groupby('Product')['Total Sales'].sum().reset_index()
product_highest_sales = total_sales_by_product.loc[total_sales_by_product['Total Sales'].idxmax()]
print("\nProduct with the highest total sales:")
print(product_highest_sales)

Product with the highest total sales:
Product        ThinkPad Laptop
Total Sales             1200.0
Name: 6, dtype: object